body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
#texto{
    text-align: left;
    padding: 15%;
    font-size: x-large;
}
#iphone{
    margin-left: 35%;
}
#azul{
    margin-left: 38%;
}
img{
  display: flex;
  margin-top: -25%;
  margin-left: 60%;
}
#button1{
    margin-top: -15%;
    margin-left: 20%;
}